<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="DefaultProduct" value="DataGen.Extensions"/>
    <add key="Products" value="1|DataGen.Extensions;2|DataGen.RomanNumerals;3|DataGen.NumberToWords;4|DataGen.Cryptography"/>
    <add key="BuildConfigurations" value="Release 3.5;Release 4.0;Release 4.5;Release 4.6"/>
    <add key="MsBuildPath" value="C:\\Windows\\Microsoft.NET\\Framework64\\v4.0.30319\\msbuild.exe"/>
    <add key="NuGetPath" value="C:\\Program Files (x86)\\NuGet\\nuget.exe"/>
  </appSettings>
</configuration>
